.completing_task__container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px); /* Устанавливаем высоту на 100% высоты экрана */
  // overflow: hidden; /* Скрываем вертикальную прокрутку */
  position: relative;

  @media (max-width: 1020px) {
    height: 100%;
  }
}

.completing_task__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.completing_task__top {
  display: flex;

  @media (max-width: 710px) {
    flex-direction: column;
  }
}

.completing_task__top__item {
  border: 1px solid var(--color-dark);
  height: 40vh;
  width: 50%;

  .completing_task__top__item__top {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;

    background: #edf2f5;

    p {
      font-weight: 600;
    }
  }

  h3 {
    font-size: 20px;
    padding: 10px;
  }

  h4 {
    font-size: 18px;
    padding-left: 10px;
  }

  .completing_task__top__text {
    height: 25vh;
    padding: 10px;
    overflow: auto;

    p {
      font-size: 14px;
    }
  }
}

.completing_task__top__answer {
  background: rgba(11, 49, 69, 0.25);
  flex-grow: 2;

  .completing_task__top__answer__top {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: #edf2f5;
    padding: 10px;

    p {
      font-weight: 600;
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    padding: 20px;

    li {
      list-style-type: numeric;

      input {
        padding: 5px;
      }
    }
  }
}

.completing_task__bottom {
  padding: 20px;
  background: var(--color-dark-blue);

  display: flex;
  align-items: center;
  justify-content: end;
  align-items: end;

  gap: 10px;

  button {
    &:first-child {
      padding: 10px 20px;
      background: none;

      font-weight: 600;
      border: 2px solid var(--color-white);
      border-radius: var(--border-radius-sm);
      color: var(--color-white);
      transition: all 0.2s ease;

      &:hover {
        background: var(--color-white);
        color: var(--color-dark-blue);
      }
    }

    &:last-child {
      padding: 10px;
      background: var(--color-white);
      border-radius: var(--border-radius-sm);
      border: 2px solid var(--color-white);

      font-weight: 600;

      transition: all 0.2s ease;

      &:hover {
        background: none;
        color: var(--color-white);
      }
    }

    @media (max-width: 420px) {
      width: 100%;
    }
  }

  @media (max-width: 420px) {
    flex-direction: column;
    padding-bottom: 90px;
    gap: 30px;
  }
}

// ========================= Modals =========================

.completing_task__container {
  position: relative;
}

.completing_task__modal {
  position: fixed;

  left: 50%;
  right: 50%;
  transform: translate(-50%, -20%);

  z-index: 9;
  background: var(--color-white);
  width: 570px;
  border: 1px solid var(--color-dark);

  .completing_task__modal__container {
    p {
      padding: 10px;
    }
  }

  .completing_task__modal__top {
    width: 100%;
    background: var(--color-dark-blue);
    display: flex;
    align-items: center;

    padding: 10px;
    gap: 30px;

    h4 {
      color: var(--color-white);
      font-size: 20px;
    }
  }

  .completing_task__modal__buttons {
    display: flex;
    align-items: center;

    gap: 20px;
    padding: 20px;

    button {
      width: 50%;
      padding: 10px;
      border-radius: var(--border-radius-sm);
      color: var(--color-white);
      font-weight: 600;

      &:first-child {
        background: var(--color-dark-blue);
      }

      &:last-child {
        background: var(--color-blue);
      }

      @media (max-width: 620px) {
        width: 100%;
      }
    }

    @media (max-width: 620px) {
      flex-direction: column;
    }
  }

  @media (max-width: 620px) {
    width: 90%;
  }

  @media (max-width: 425px) {
    transform: translate(-50%, -10%);
  }
}
