.head {
  background: linear-gradient(
    45deg,
    rgba(11, 49, 69, 1) 0%,
    rgba(113, 143, 158, 1) 40%,
    rgba(231, 245, 252, 1) 83%
  );

  padding-bottom: 40px;
}

.head__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 64px;

    span {
      font-size: 92px;

      @media (max-width: 720px) {
        font-size: 64px;
      }

      @media (max-width: 425px) {
        font-size: 48px;
      }
    }

    @media (max-width: 720px) {
      font-size: 48px;
    }

    @media (max-width: 425px) {
      font-size: 36px;
    }
  }

  @media (max-width: 1330px) {
    img {
      // width: 100%;
      display: none;
    }
  }
}

.head__main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 770px;

  & > p {
    font-size: 18px;

    @media (max-width: 425px) {
      font-size: 14px;
    }

    &:last-child {
      font-size: 16px;
    }
  }

  a {
    display: block;
    margin-top: 70px;
    padding: 20px 40px;
    background: #090920;
    color: var(--color-white);
    border-radius: var(--border-radius-lg);
    box-shadow: 5px -5px 5px rgb(58, 220, 255, 0.5);

    transition: all 0.2s ease;

    font-family: sans-serif;
    font-weight: 600;

    &:hover {
      opacity: 0.8;
    }
  }

  ul {
    display: flex;
    gap: 20px;
    margin-top: 70px;

    li {
      p {
        display: flex;
        align-items: center;

        span {
          font-size: 28px;
        }
      }
    }

    @media (max-width: 425px) {
      flex-direction: column;
      gap: 0;
    }
  }
}
