.file_storage {
  margin-top: 60px;
  margin-bottom: 90px;
}

.file_storage__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    padding: 10px 20px;
    background: var(--color-blue);
    border-radius: var(--border-radius-sm);

    cursor: pointer;

    font-weight: 600;
    color: var(--color-white);

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 360px) {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
  }
}

.file_storage__filter {
  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    padding: 15px;
    border: 2px solid var(--color-dark-blue);
    border-radius: var(--border-radius-sm);
    width: 300px;

    @media (max-width: 485px) {
      width: 100%;
    }
  }

  select {
    padding: 15px;

    border: 2px solid var(--color-dark-blue);
    border-radius: var(--border-radius-sm);

    @media (max-width: 485px) {
      width: 100%;
    }
  }

  @media (max-width: 485px) {
    flex-direction: column;
    gap: 20px;

    justify-content: start;
    align-items: start;
  }
}

.file_storage__wrapper {
  overflow: hidden;

  @media (max-width: 920px) {
    overflow-x: auto;
  }

  table {
    width: 100%;
    margin-top: 30px;

    tr {
      position: relative;
      background: var(--color-white);
      border-bottom-right-radius: 10px;

      cursor: pointer;

      &:first-child {
        background: var(--color-dark-blue);
        margin-bottom: 30px;

        th {
          padding-top: 20px;
          padding-bottom: 20px;
          color: var(--color-white);
          font-weight: 600;
        }
      }

      td {
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;

        button {
          background: none;
        }
      }
    }

    @media (max-width: 920px) {
      min-width: 1020px;
    }
  }
}

.file_storage {
  position: relative;
}

.file_storage__modal {
  position: fixed;

  left: 50%;
  right: 50%;
  transform: translate(-50%, -20%);

  z-index: 9;
  background: var(--color-white);
  width: 570px;
  border: 1px solid var(--color-dark);

  .file_storage__modal__container {
    p {
      padding: 10px;
    }
  }

  .file_storage__modal__top {
    width: 100%;
    background: var(--color-dark-blue);
    display: flex;
    align-items: center;

    padding: 10px;
    gap: 30px;

    h4 {
      color: var(--color-white);
      font-size: 20px;
    }
  }

  .file_storage__modal__buttons {
    display: flex;
    align-items: center;

    gap: 20px;
    padding: 20px;

    button {
      width: 50%;
      padding: 10px;
      border-radius: var(--border-radius-sm);
      color: var(--color-white);
      font-weight: 600;

      &:first-child {
        background: var(--color-dark-blue);
      }

      &:last-child {
        background: var(--color-blue);
      }

      @media (max-width: 620px) {
        width: 100%;
      }
    }

    @media (max-width: 620px) {
      flex-direction: column;
    }
  }

  @media (max-width: 620px) {
    width: 90%;
  }

  @media (max-width: 425px) {
    transform: translate(-50%, -10%);
  }
}
