@font-face {
  font-family: "Kalnia";
  src: local("../assets/fonts/Kalnia-Regular.ttf"),
    url("../assets/fonts/Kalnia-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kalnia-sb";
  src: local("../assets/fonts/Kalnia-SemiBold.ttf"),
    url("../assets/fonts/Kalnia-SemiBold.ttf") format("truetype");
}
