.user_main {
  width: 100%;
  margin-top: 100px;
  padding: 10px;
}

.user_main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.user_main__stats {
  display: flex;
  gap: 75px;

  .user_main__stats__item {
    background: var(--color-dark-blue);
    padding: 20px;
    border-radius: 5px;

    min-width: 260px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;

    h3,
    p {
      color: var(--color-white);
    }

    @media (max-width: 940px) {
      min-width: 31%;
    }

    @media (max-width: 710px) {
      width: 100%;
    }
  }

  @media (max-width: 940px) {
    gap: 20px;
  }

  @media (max-width: 710px) {
    flex-direction: column;
  }
}

.user_main__graph {
  height: 600px;
  min-width: 925px;
  background: #f0f1f1;

  border-radius: 5px;
  border: 1px solid rgba(11, 49, 69, 0.2);

  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;

  @media (max-width: 980px) {
    min-width: 100%;
    height: 100%;
  }
}

.user_main__graph__main {
  width: 850px;
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 940px) {
    width: 550px;
  }

  @media (max-width: 620px) {
    width: 450px;
  }

  @media (max-width: 520px) {
    width: 350px;
  }

  @media (max-width: 390px) {
    width: 300px;
  }
}

.user_main__graph__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_main__graph__top {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 24px;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #d6dee6;
    border-radius: var(--border-radius-sm);

    li {
      button {
        padding: 15px;

        border-radius: var(--border-radius-sm);
        color: var(--color-dark-blue) !important;

        color: var(--color-white);
        font-family: sans-serif;
        font-weight: 500;
        white-space: nowrap;

        transition: all 0.2s ease;

        &:hover {
          opacity: 0.9;
        }

        @media (max-width: 450px) {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 940px) {
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
  }
}

.user_main__stats__item {
  &:not(:last-child) {
    .user_main__stats__item__icon {
      width: 50px;
      height: 50px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: 50%;

      background: var(--color-white);
    }
  }
}
