:root {
  --color-white: #fff;
  --color-dark-blue: #0b3145;
  --color-black: #090920;
  --color-blue: #0977d8;
  --color-orange: #e1910f;
  --color-green: #13bd32;
  --color-gray: #74747a;
  --color-dark-white: #dbdfe2;
  --color-dark: #1e2123;

  --border-radius-sm: 5px;
  --border-radius-md: 20px;
  --border-radius-lg: 30px;
}
